<h1 mat-dialog-title>{{'PRODUCTS.COLUMN_FAMILY_NAME'|translate}}</h1>
<div mat-dialog-content class="dialog-content">

<form [formGroup]="FamilyForm" (submit)="onSubmit()">
    <div class="controles-form">
        <button  class="btn btn-primary boton-form" type="button" (click)="closeDialogo()">{{'FAMILIES.CANCEL' | translate}}</button>
        <button class="btn btn-primary boton-form" type = "submit" (click)="createFamily()" >{{'FAMILIES.CONFIRM' | translate}}</button>
    </div>

      
        
        <div class="form-group">
          <label for="id">#GUID Family</label>
          <input  readonly class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="familyGUID" id="familyGUID" [(ngModel)]="family.familyGUID" />
        </div>
       
        <div class="form-group">
          <label> {{'FAMILIES.COLUMN_NAME' | translate }}</label>
          <input [readonly]="camposReadOnly==true" type="text" formControlName="name" class="form-control campo-descripcion-corta" [(ngModel)]="family.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">{{'FAMILIES.FORM_ERROR_NAME' | translate }}</div>
                              
          </div>
        </div>
        

        <div class="form-group">
          <label>{{'FAMILIES.COLUMN_DESCRIPTION' | translate}}</label>
          <input [readonly]="camposReadOnly==true" type="text" formControlName="description" class="form-control campo-descripcion-corta" [(ngModel)]="family.description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">{{'FAMILIES.FORM_ERROR_DESCRIPTION' | translate }}</div>
              
          </div>
        </div>


        <div class="form-group">
          <label>{{'FAMILIES.COLUMN_CREATED_ON' | translate}}</label>
          <input  readonly class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="createdOn" id="createdOn" [(ngModel)]="family.createdOn" />
        </div>

        <div class="form-group">
          <label>{{'FAMILIES.COLUMN_UPDATED_ON' | translate}}</label>
          <input  readonly class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="updatedOn" id="updatedOn" [(ngModel)]="family.updatedOn" />
        </div>

       
      
    </form>
</div>