<div class="card m-3" style="overflow: hidden;">
  <div class="card-body">
    <div class="titulo-form">{{formTitle | translate}}</div>
    <form [formGroup]="StateOfDocumentForm" (submit)="onSubmit()">
     
      <div class="controles-form">
        <button *ngIf="this.insert"  class="btn btn-primary boton-form" type="reset" >{{'STATEOFDOCUMENTS.RESET' | translate}}</button>
        <button  class="btn btn-primary boton-form"  type="button" (click)="gotoList()">{{'STATEOFDOCUMENTS.CANCEL' | translate}}</button>
        <button class="btn btn-primary boton-form" type = "submit">{{'STATEOFDOCUMENTS.CONFIRM' | translate}}</button>
      </div>

        
          
          <div class="form-group">
            <label for="id">
              #GUID StateOfDocument</label>
            <input  readonly class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="stateOfDocumentGUID" id="stateOfDocumentGUID" [(ngModel)]="stateOfDocument.stateOfDocumentGuid" />
          </div>
         
          <div class="form-group">
            <label> {{'STATEOFDOCUMENTS.COLUMN_NAME' | translate }}</label>
            <input [readonly]="camposReadOnly==true" type="text" formControlName="name" class="form-control campo-descripcion-corta" [(ngModel)]="stateOfDocument.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">{{'STATEOFDOCUMENTS.FORM_ERROR_NAME' | translate }}</div>                
            </div>
          </div>
          

          <div class="form-group">
            <label>{{'STATEOFDOCUMENTS.COLUMN_DESCRIPTION' | translate}}</label>
            <input [readonly]="camposReadOnly==true" type="text" formControlName="description" class="form-control campo-descripcion-corta" [(ngModel)]="stateOfDocument.description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">{{'STATEOFDOCUMENTS.FORM_ERROR_DESCRIPTION' | translate }}</div>
                
            </div>
          </div>


          <div class="form-group">
            <label>{{'STATEOFDOCUMENTS.COLUMN_CREATED_ON' | translate}}</label>
            <input  readonly class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="createdOn" id="createdOn" [(ngModel)]="stateOfDocument.createdOn" />
          </div>

          <div class="form-group">
            <label>{{'STATEOFDOCUMENTS.COLUMN_UPDATED_ON' | translate}}</label>
            <input  readonly class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="updatedOn" id="updatedOn" [(ngModel)]="stateOfDocument.updatedOn" />
          </div>

         
        
      </form>
     
    </div>
</div>