<div class="card m-3" style="overflow: hidden;">
  <div class="card-body">
    <div class="titulo-form">{{tituloformulario | translate}}</div>
    <form [formGroup]="TarifaForm" (submit)="onSubmit()">
      <div class="controles-form">
        <button *ngIf="this.insert" [hidden]="camposReadOnly==true" class="btn btn-primary boton-form" type="reset" >{{'TARIFA.RESET' | translate}}</button>
        <button [hidden]="camposReadOnly==true" class="btn btn-primary boton-form">{{'TARIFA.CANCEL' | translate}}</button>
        <button class="btn btn-primary boton-form" type = "submit">{{'TARIFA.CONFIRM' | translate}}</button>
      </div>

        
          
          <div class="form-group">
            <label for="id">#Id Tarifa</label>
            <input  readonly class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="tarifaId" id="tarifaId" [(ngModel)]="tarifa.tarifaId" />
          </div>
          
          <div class="form-group">
            <label >Check In</label>
            <div class="form-group">
                <datepicker *ngIf="dtoDatePickerInCheckIn" [dtoDatePickerIn]="dtoDatePickerInCheckIn" (datePickerOut)="seleccionaFecha($event)" ></datepicker>
                <input [hidden]="true" [readonly]="camposReadOnly==true" class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" matInput formControlName="fechaDeVigencia" id="fechaDeVigencia" [(ngModel)]="this.tarifa.fechaDeVigencia" required/>
            </div>
          </div>
         
          <div class="form-group">
            <label> {{'TARIFA.COLUMN_ADULT_RATE' | translate }}</label>
            <input [readonly]="camposReadOnly==true" type="text" formControlName="tazaAdulto" class="form-control campo-descripcion-corta" [(ngModel)]="tarifa.tazaAdulto" [ngClass]="{ 'is-invalid': submitted && f.tazaAdulto.errors }" />
            <div *ngIf="submitted && f.tazaAdulto.errors" class="invalid-feedback">
                <div *ngIf="f.tazaAdulto.errors.required">Falta la taza de adultos</div>                
            </div>
          </div>
          

          <div class="form-group">
            <label>{{'TARIFA.COLUMN_CHILDREN_RATE' | translate}}</label>
            <input [readonly]="camposReadOnly==true" type="number" formControlName="tazaNinio" class="form-control campo-descripcion-corta" [(ngModel)]="tarifa.tazaNinio" [ngClass]="{ 'is-invalid': submitted && f.tazaNinio.errors }" />
            <div *ngIf="submitted && f.tazaNinio.errors" class="invalid-feedback">
                <div *ngIf="f.tazaNinio.errors.required">Falta la taza de Ninios</div>
                
            </div>
          </div>


          <div class="form-group">
            <label>{{'TARIFA.COLUMN_BABY_RATE' | translate}}</label>
            <input [readonly]="camposReadOnly==true" type="number" formControlName="tazaBebe" class="form-control campo-descripcion-corta" [(ngModel)]="tarifa.tazaBebe" [ngClass]="{ 'is-invalid': submitted && f.tazaBebe.errors }" />
            <div *ngIf="submitted && f.tazaBebe.errors" class="invalid-feedback">
                <div *ngIf="f.tazaBebe.errors.required">Falta la taza de bebes</div>                
            </div>
          </div>

          <div class="form-group">
            <label>{{'TARIFA.COLUMN_RETIRED_RATE' | translate}}</label>
            <input [readonly]="camposReadOnly==true" type="number" formControlName="tazaJubilado" class="form-control campo-descripcion-corta" [(ngModel)]="tarifa.tazaJubilado" [ngClass]="{ 'is-invalid': submitted && f.tazaJubilado.errors }" />
            <div *ngIf="submitted && f.tazaJubilado.errors" class="invalid-feedback">
                <div *ngIf="f.tazaJubilado.errors.required">Falta la taza de jubilado común</div>                
            </div>
          </div>

          <div class="form-group">
            <label>{{'TARIFA.COLUMN_RETIRED_PROMO_RATE' | translate}}</label>
            <input [readonly]="camposReadOnly==true" type="number" formControlName="tazaJubiladoConPromo" class="form-control campo-descripcion-corta" [(ngModel)]="tarifa.tazaJubiladoConPromo" [ngClass]="{ 'is-invalid': submitted && f.tazaJubiladoConPromo.errors }" />
            <div *ngIf="submitted && f.tazaJubiladoConPromo.errors" class="invalid-feedback">
                <div *ngIf="f.tazaJubiladoConPromo.errors.required">Falta la taza de jubilado con promoción</div>                
            </div>
          </div>

          <div class="form-group">
            <label>{{ 'TARIFA.COUNT_RETIRED_PROMO' | translate}}</label>
            <input [readonly]="camposReadOnly==true" type="number" formControlName="cantidadJubiladosPromo" class="form-control campo-descripcion-corta" [(ngModel)]="tarifa.cantidadJubiladosPromo" [ngClass]="{ 'is-invalid': submitted && f.cantidadJubiladosPromo.errors }" />
            <div *ngIf="submitted && f.cantidadJubiladosPromo.errors" class="invalid-feedback">
                <div *ngIf="f.cantidadJubiladosPromo.errors.required">Falta la taza de jubilado con promoción</div>                
            </div>
          </div>
        
      </form>
     
    </div>
</div>