<div class="card m-3" style="overflow: hidden;">
    <div class="card-body">
      <div class="titulo-form">{{tituloformulario}}</div>
      <form [formGroup]="administradorForm" (submit)="onSubmit()">
        <div class="controles-form">
          <button *ngIf="insert" [hidden]="camposReadOnly==true" class="btn btn-primary boton-form" type="reset" >Reset</button>
          <button [hidden]="camposReadOnly==true" class="btn btn-primary boton-form" (click) = "gotoList()">Cancelar</button>
          <button class="btn btn-primary boton-form" type = "submit">Confirmar</button>
        </div>
        <div class="form-row">
          <div class="form-group col">
            
            <div class="form-group">
              <label for="id">#Id Administrador</label>
              <input  readonly class="form-control ng-untouched ng-pristine ng-valid" formControlName="id" id="id" [(ngModel)]="administrador.id" />
            </div>
            
            <div class="form-group">
              <label for="nombre">Nombre del Administrador</label>
              <input [readonly]="camposReadOnly==true" class="form-control ng-untouched ng-pristine ng-valid" formControlName="nombre" id="nombre" [(ngModel)]="administrador.nombre" 
              [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
              <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                  <div *ngIf="f.nombre.errors.required">Falta el nombre del administrador</div>
              </div>
            
            </div>
            
            <div class="form-group">
              <label>Email del Administrador</label>
              <input [readonly]="camposReadOnly==true" type="text" formControlName="email" class="form-control" [(ngModel)]="administrador.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Falta el email del administrador</div>
                  <div *ngIf="f.email.errors.email">Email inválido</div>
              </div>
  
            </div>
            <div class="form-group">
              <label for="essuperadministrador">Super Administrador</label>
              <div clas = "slide-form">
                <mat-slide-toggle  [disabled]="camposReadOnly==true" [(ngModel)]="administrador.esSuperAdministrador" formControlName="essuperadministrador" id="essuperadministrador" [(ngModel)]="administrador.esSuperAdministrador"></mat-slide-toggle>
              </div>
            </div>
          </div>
          <div class="form-group col" *ngIf="this.insert" >
            
  
            <div class="card m-3">
              <h5 class="card-header">Ingrese Contraseña</h5>
              <div class="card-body">
  
                <div class="form-group">
                  <label for="password">Contraseña</label>
                  <input [readonly]="camposReadOnly==true" class="form-control ng-untouched ng-pristine ng-valid" formControlName="password" id="password" [(ngModel)]="administrador.password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors && insert " class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Se requiere contraseña</div>
                      <div *ngIf="f.password.errors.minlength">La contraseña requiere por lo menos 6 caracteres</div>
  
                  </div>
                </div>
                <div class="form-group">
                  <label for="passwordconfirm">Confirmar Contraseña</label>
                  <input [readonly]="camposReadOnly==true" class="form-control ng-untouched ng-pristine ng-valid" formControlName="passwordconfirm" id="passwordconfirm"  [ngClass]="{ 'is-invalid': submitted && f.passwordconfirm.errors }" />
                  <div *ngIf="submitted && f.passwordconfirm.errors && insert " class="invalid-feedback">
                      <div *ngIf="f.passwordconfirm.errors.required">La confirmación de la contraseña es requerida</div>
                      <div *ngIf="f.passwordconfirm.errors.mustMatch">Las contraseñas no coinciden</div>
                  </div>
                </div>
              </div>
            </div> 
            </div>
          </div>
       </form>
      </div>
  </div>