<div class="card m-3" style="overflow: hidden;">
  <div class="card-body">
    <div class="titulo-form">{{formTitle | translate}}</div>
    <form [formGroup]="ProviderForm" (submit)="onSubmit()">
      <div class="controles-form">
        <button *ngIf="this.insert" [hidden]="camposReadOnly==true" class="btn btn-primary boton-form" type="reset" >{{'PROVIDER.RESET' | translate}}</button>
        <button [hidden]="camposReadOnly==true" class="btn btn-primary boton-form"  type="button" (click)="gotoList()">{{'PROVIDER.CANCEL' | translate}}</button>
        <button class="btn btn-primary boton-form" type = "submit">{{'PROVIDER.CONFIRM' | translate}}</button>
      </div>

        
          
          <div class="form-group">
            <label for="id">#GUID Provider</label>
            <input  readonly class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="providerGUID" id="providerGUID" [(ngModel)]="provider.providerGUID" />
          </div>
         
          <div class="form-group">
            <label> {{'PROVIDER.COLUMN_NAME' | translate }}</label>
            <input [readonly]="camposReadOnly==true" type="text" formControlName="name" class="form-control campo-descripcion-corta" [(ngModel)]="provider.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">{{'PROVIDER.FORM_ERROR_NAME' | translate }}</div>                
            </div>
          </div>
          

          <div class="form-group">
            <label>{{'PROVIDER.COLUMN_DESCRIPTION' | translate}}</label>
            <input [readonly]="camposReadOnly==true" type="text" formControlName="description" class="form-control campo-descripcion-corta" [(ngModel)]="provider.description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">{{'PROVIDER.FORM_ERROR_DESCRIPTION' | translate }}</div>
                
            </div>
          </div>


          <div class="form-group">
            <label>{{'PROVIDER.COLUMN_CREATED_ON' | translate}}</label>
            <input  readonly class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="createdOn" id="createdOn" [(ngModel)]="provider.createdOn" />
          </div>

          <div class="form-group">
            <label>{{'PROVIDER.COLUMN_UPDATED_ON' | translate}}</label>
            <input  readonly class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="updatedOn" id="updatedOn" [(ngModel)]="provider.updatedOn" />
          </div>

         
        
      </form>
     
    </div>
</div>