<div class="card m-3" style="overflow: hidden;">
  <div class="card-body">
    <div class="titulo-form">{{formTitle | translate}}</div>
    <form [formGroup]="ProductForm" (submit)="onSubmit()">
      <div class="controles-form">
        <button *ngIf="this.insert"  class="btn btn-primary boton-form" type="reset" >{{'PRODUCTS.RESET' | translate}}</button>
        <button  class="btn btn-primary boton-form" type="button" (click)="gotoList()">{{'PRODUCTS.CANCEL' | translate}}</button>
        <button class="btn btn-primary boton-form" type = "submit" >{{'PRODUCTS.CONFIRM' | translate}}</button>
      </div>

        
        <div class="form-container">
          <div class="left-side">
            
          
            <div class="form-group">
              <label for="id">#GUID Product</label>
              <input  readonly class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="productGUID" id="productGUID" [(ngModel)]="product.productGUID" />
            </div>
          
            <div class="form-group">
              <label> {{'PRODUCTS.COLUMN_NAME' | translate }}</label>
              <input [readonly]="camposReadOnly==true" type="text" formControlName="name" class="form-control campo-descripcion-corta" [(ngModel)]="product.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">{{'PRODUCTS.FORM_ERROR_NAME' | translate }}</div>              
              </div>
            </div>
          
          <div class="form-group">
            <label>{{'PRODUCTS.COLUMN_DESCRIPTION' | translate}}</label>
            <input [readonly]="camposReadOnly==true" type="text" formControlName="description" class="form-control campo-descripcion-corta" [(ngModel)]="product.description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">{{'PRODUCTS.FORM_ERROR_DESCRIPTION' | translate }}</div>
            </div>
          </div>

            <div class="form-group">
              <label>{{'PRODUCTS.COLUMN_EAN_CODE' | translate}}</label>
              <input  [readonly]="camposReadOnly==true" class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="eanCode" id="eanCode" [(ngModel)]="product.eanCode" [ngClass]="{ 'is-invalid': submitted && f.eanCode.errors }" />
              <div *ngIf="submitted && f.eanCode.errors" class="invalid-feedback">
                <div *ngIf="f.eanCode.errors.required">{{'PRODUCTS.FORM_ERROR_EAN_CODE' | translate }}</div>
              </div>
            </div>
  
            <div class="form-group">
              <label>{{'PRODUCTS.COLUMN_EXTERNAL_CODE' | translate}}</label>
              <input  [readonly]="camposReadOnly==true" class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="externalCode" id="externalCode" [(ngModel)]="product.externalCode" [ngClass]="{ 'is-invalid': submitted && f.externalCode.errors }" />
              <div *ngIf="submitted && f.externalCode.errors" class="invalid-feedback">
                <div *ngIf="f.externalCode.errors.required">{{'PRODUCTS.FORM_ERROR_EXTERNAL_CODE' | translate }}</div>
              </div>
            </div>
  
  
            <div class="form-group">
              <label for="id">{{'PRODUCTS.COLUMN_STORE_CODE' | translate}}</label>
              <input  [readonly]="camposReadOnly==true" class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="storeCode" id="storeCode" [(ngModel)]="product.storeCode" [ngClass]="{ 'is-invalid': submitted && f.storeCode.errors }" />
              <div *ngIf="submitted && f.storeCode.errors" class="invalid-feedback">
                <div *ngIf="f.storeCode.errors.required">{{'PRODUCTS.FORM_ERROR_STORE_CODE' | translate }}</div>
              </div>
            </div>


            
            <mat-form-field appearance="fill">
              <mat-select [placeholder]="'PRODUCTS.FORM_PLACE_HOLDER_TYPE' | translate" [disabled]="camposReadOnly==true" formControlName="productOrService" [(ngModel)]="product.productOrService" [compareWith]="compareFnBool" >
                <mat-option [value]="0">Product</mat-option>
                <mat-option [value]="1">Service</mat-option>
              </mat-select>
            </mat-form-field> 

            <mat-form-field appearance="fill">
              <mat-select [placeholder]="'PRODUCTS.FORM_PLACE_HOLDER_STOCK' | translate" [disabled]="camposReadOnly==true" formControlName="useStock" [(ngModel)]="product.useStock" [compareWith]="compareFnBool" >
                <mat-option [value]="true">Si</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </mat-form-field> 

          </div>

          <div class="right-side">            
           
            <mat-form-field appearance="fill">
              <mat-select [placeholder]="'PRODUCTS.FORM_PLACE_HOLDER_CATEGORY' | translate" [disabled]="camposReadOnly==true" formControlName="category" [(ngModel)]="product.category" [compareWith]="compareFn"  >
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
            <input type="button" class="btn btn-primary boton-form" value="+" (click)="categoryPopUp()">
            
            
           
            <mat-form-field  appearance="fill">
              <mat-select [placeholder]="'PRODUCTS.FORM_PLACE_HOLDER_BRAND' | translate" [disabled]="camposReadOnly==true"formControlName="brand" [(ngModel)]="product.brand" [compareWith]="compareFn" >
                <mat-option *ngFor="let brand of brands" [value]="brand">
                  {{brand.name}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
            <input type="button" class="btn btn-primary boton-form" value="+" (click)="brandsPopUp()">

            <mat-form-field appearance="fill">
              <mat-select [placeholder]="'PRODUCTS.FORM_PLACE_HOLDER_FAMILY' | translate" [disabled]="camposReadOnly==true" formControlName="family" [(ngModel)]="product.family" [compareWith]="compareFn" >
                <mat-option *ngFor="let family of families" [value]="family">
                  {{family.name}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
            <input type="button" class="btn btn-primary boton-form" value="+" (click)="familiesPopUp()">

        
            <mat-form-field appearance="fill">
              <mat-select [placeholder]="'PRODUCTS.FORM_PLACE_HOLDER_LINE' | translate" [disabled]="camposReadOnly==true" formControlName="line" [(ngModel)]="product.line" [compareWith]="compareFn" >
                <mat-option *ngFor="let line of lines" [value]="line">
                  {{line.name}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
            <input type="button" class="btn btn-primary boton-form" value="+" (click)="linesPopUp()">



            <mat-form-field appearance="fill">
              <mat-select [placeholder]="'PRODUCTS.FORM_PLACE_HOLDER_VARIETY' | translate" [disabled]="camposReadOnly==true" formControlName="variety" [(ngModel)]="product.variety" [compareWith]="compareFn" >
                <mat-option *ngFor="let variety of varieties" [value]="variety">
                  {{variety.name}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
            <input type="button" class="btn btn-primary boton-form" value="+" (click)="varietyPopUp()">


            
            <mat-form-field appearance="fill">
              <mat-select [placeholder]="'PRODUCTS.FORM_PLACE_HOLDER_PROVIDERS' | translate" [disabled]="camposReadOnly==true" formControlName="provider" [(ngModel)]="product.provider" multiple  [compareWith]="compareFn" >
                <mat-option *ngFor="let provider of providers" [value]="provider">
                  {{provider.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <input type="button" class="btn btn-primary boton-form" value="+" (click)="providerPopUp()">


            
                     
          </div>  
         
        </div>
          
        
      </form>
     
    </div>
</div>