<div class="header-container">
    <div class="logo-container">
      <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
        <nb-icon icon="menu-2-outline"></nb-icon>
      </a>
      <a class="logo" href="#" (click)="navigateHome()">SD <span>ERP</span></a>
    </div>
    <select #langSelect [value]="locale" (change)="changeLocale(langSelect.value)"> 
      <option  value="es">Spanish</option>
      <option  value="en">English</option>
    </select>
  </div>
  
  <div class="header-container">
    <nb-actions size="small">
  
      <nb-action class="control-item">
        <nb-search type="rotate-layout"></nb-search>
      </nb-action>
      <nb-action class="control-item" icon="email-outline"></nb-action>
      <nb-action class="control-item" icon="bell-outline"></nb-action>
      <nb-action class="user-action">
        <nb-user [nbContextMenu]="userMenu"
                 nbContextMenuTag="userMenu"
                 [onlyPicture]="userPictureOnly"
                 [name]="'Sebastian Labadie'"
                 [picture]="'https://bootdey.com/img/Content/avatar/avatar7.png'">
        >
      </nb-user>
      </nb-action>
       
    </nb-actions>
  </div>
  