<div class="card m-3" style="overflow: hidden;">
  <div class="card-body">
    <div class="titulo-form">{{formTitle | translate}}</div>
    <form [formGroup]="BrandForm" (submit)="onSubmit()">
      <div class="controles-form">
        <button *ngIf="this.insert"  class="btn btn-primary boton-form" type="reset" >{{'BRANDS.RESET' | translate}}</button>
        <button  class="btn btn-primary boton-form" type="button"  (click)="gotoList()">{{'BRANDS.CANCEL' | translate}}</button>
        <button class="btn btn-primary boton-form" type = "submit">{{'BRANDS.CONFIRM' | translate}}</button>
      </div>

        
          
          <div class="form-group">
            <label for="id">#GUID Brand</label>
            <input  readonly class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="brandGUID" id="brandGUID" [(ngModel)]="brand.brandGUID" />
          </div>
         
          <div class="form-group">
            <label> {{'BRANDS.COLUMN_NAME' | translate }}</label>
            <input [readonly]="camposReadOnly==true" type="text" formControlName="name" class="form-control campo-descripcion-corta" [(ngModel)]="brand.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">{{'BRANDS.FORM_ERROR_NAME' | translate }}</div>                
            </div>
          </div>
          

          <div class="form-group">
            <label>{{'BRANDS.COLUMN_DESCRIPTION' | translate}}</label>
            <input [readonly]="camposReadOnly==true" type="text" formControlName="description" class="form-control campo-descripcion-corta" [(ngModel)]="brand.description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">{{'BRANDS.FORM_ERROR_DESCRIPTION' | translate }}</div>
                
            </div>
          </div>


          <div class="form-group">
            <label>{{'BRANDS.COLUMN_CREATED_ON' | translate}}</label>
            <input  readonly class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="createdOn" id="createdOn" [(ngModel)]="brand.createdOn" />
          </div>

          <div class="form-group">
            <label>{{'BRANDS.COLUMN_UPDATED_ON' | translate}}</label>
            <input  readonly class="form-control ng-untouched ng-pristine ng-valid campo-descripcion-corta" formControlName="updatedOn" id="updatedOn" [(ngModel)]="brand.updatedOn" />
          </div>

         
        
      </form>
     
    </div>
</div>